<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<ul>
<% @cart.line_items.each do |item| %>
<li>
  price : <%= item.product.price %> | <%= item.product.name %> &times <%= item.quantity %>
  | Total : <%= item.product.price*item.quantity %>
</li>
<% end %>
</ul>
<%= link_to "買い物を続ける", root_path, class: "btn btn-primary btn-sm" %>
<%= link_to "カートを空にする", @cart, method: :delete, class: "btn btn-danger btn-sm" %>
<%= link_to "Checkout!", new_order_path, class: "btn btn-info btn-sm" %>
