<%= search_form_for @q do |f| %>
  <%# start 特定の文字列で始まる商品名で検索 %>
  <%= f.label :name_cont, "商品名" %>
  <%= f.search_field :name_cont %>
  <br />
  <%# 検索ボタン %>
  <%= f.submit %>
<% end %>

<h2>ALL Vegetables</h2>
<h2>seach result: <%= @products.count %></h2>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag product.picture_url if product.picture? %>
      <div class="caption">
        <h3><%= link_to product.name, product %></h3>
        <p><%= product.content %></p>
        <p><a href="#" class="btn btn-primary" role="button">+</a> 
        <a href="#" class="btn btn-default" role="button">-</a></p>
      </div>
    </div>
  </div>
 <% end %>
</div>
