<!--
<#%= search_form_for @q do |f| %>
  <%# start 特定の文字列で始まる商品名で検索 %>
  <#%= f.label :name_cont, "商品名" %>
  <#%= f.search_field :name_cont %>
  <br />
  <%# 検索ボタン %>
  <#%= f.submit %>
<#% end %>
-->
<h2>ALL Vegetables</h2>
<h2>seach result: <%= @products.count %></h2>

<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag product.picture %>
      <div class="caption">
        <p><sapn class="label label-danger">NEW</sapn>
        <%= (product.created_at.strftime("%m/%d")).gsub(/0/, '') %> 更新</p>
        <h3><%= link_to product.name, product %></h3>
        <div id="product_content">
          <p><%= product.content %></p>
          <p>数量</p>
          <%= link_to '＋', line_items_path(product_id: product), method: :post,
          class: "btn btn-primary btn-sm" %>
          <%= link_to 'ー', line_item_path(product), method: :delete,
          class: "btn btn-default btn-sm" %>
        </div>
      </div>
    </div>
  </div>
 <% end %>
</div>
<%= will_paginate %>
