<header>
  <div class="header_top">WELCOME TO MY PROTOTYPE!</div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
         <%= link_to "FarmStory", root_path %>
      </div> 
        <ul class="nav navbar-nav navbar-right" >
          <% if logged_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "出品する", sellup_path %></li>
              <li><%= link_to "注文一覧", "#" %></li>
              <li class="dropdonw">
                <a class="dropdown-toggle" data-toggle="dropdonw" href="#"
                 aria-haspopup="true" aria-expanded="false">オーナー
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "登録", "#" %></li>
                    <li><%= link_to "一覧", "#" %></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a class="dropdonw-toggle" data-toggle="dropdown" href="#"
                aria-haspopup="true" aria-expanded="false">プロフィール
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "設定", edit_user_path(current_user) %></li>
                  <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class="dropdown">
                <a class="dropdonw-toggle" data-toggle="dropdown" href="#"
                 aria-haspopup="true" aria-expanded="false">プロフィール
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "設定", edit_user_path(current_user) %></li>
                    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                  </ul>
              </li>
            <% end %>
            <li><%= link_to "カート", "#" %></li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
            <li><%= link_to "新規登録", signup_path %></li>
          <% end %>
        </ul>
    </div>
  </nav>
</header>